footer {
  background-color: var(--black);
  padding: 80px 20px;
}

#contato {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-content: space-between;
  align-items: center;
  gap: 80px;
  max-width: 1200px;
  margin: 0 auto;
}

.rodape-descricao {
  font-size: 24px;
  color: var(--c4);
  position: relative;
}

.rodape-descricao::after {
  content: url(/img/detalhe.svg);
  position: absolute;
  width: 20px;
  height: 20px;
  top: -220px;
  left: 20px;
}

.contatos {
  font-size: 2.25rem;
  color: var(--white);
  padding: 20px;
  font-weight: 700;
}
.instagram {
  color: var(--white);
  text-decoration: underline;
}

.direitos {
  color: var(--c7);
  font-size: 1.125rem;
  padding: 80px 0 0 0;
  max-width: 1200px;
  margin: 0 auto;
}

@media (max-width: 800px) {
  .rodape-descricao::after {
    display: none;
  }

  #contato {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}

@media (max-width: 400px) {
  .contatos {
    font-size: 1.5rem;
  }
}
